<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note App</title>

    <!-- VUE SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- OUR CUSTOM CODE -->
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!--We are making two "pages" essentially--one where you have a login screen and one which is the page after you login-->

<!-- This is the div that contains the information when you login-->
<div id="app">

    <!--This is the div that makes it visible for people to login and/or create an account-->
    <div id="nologin" v-if="!loggedin">
        <h1>This is the login area</h1>
    </div>

    <!--This is the div that will be shown when the user is logged-->
    <div id="login" v-if="loggedin">
        <h1>This is the user area</h1>
    </div>

</div>

</body>
</html>